kube-prometheus-stack:
  # https://github.com/prometheus-community/helm-charts/issues/479#issuecomment-752709725
  prometheusOperator:
    # https://github.com/prometheus-community/helm-charts/issues/479#issuecomment-752709725
    tls:
      enabled: false
    admissionWebhooks:
      enabled: false
  grafana:
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

    dashboardsConfigMaps:
      default: "grafana-dashboards"