apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-applicationset
spec:
  generators:
  - list:
      elements:
      - cluster: core
        cluster-name: in-cluster
        overlay: overlays/core
        targetRevision: ArgoCD-v2.4.22-c8_AVP-v1.13.1
      - cluster: hotel-budapest
        cluster-name: hotel-budapest
        overlay: overlays/hotel-budapest
        targetRevision: ArgoCD-v2.4.22-c8_AVP-v1.13.1
      - cluster: dev
        cluster-name: dev
        overlay: overlays/dev
        targetRevision: ArgoCD-v2.4.22-c8_AVP-v1.13.1
      - cluster: devsecops-testing
        cluster-name: devsecops-testing
        overlay: overlays/devsecops-testing
        targetRevision: feat/argocd_2.5 # temp branch for testing upgrade and AVP implementation
#        targetRevision: HEAD # intentional for testing purposes, don't change without good reason
      - cluster: pre-prod
        cluster-name: pre-prod
        overlay: overlays/pre-prod
        targetRevision: ArgoCD-v2.4.22-c8_AVP-v1.13.1
      - cluster: beta
        cluster-name: beta
        overlay: overlays/beta
        targetRevision: ArgoCD-v2.4.22-c8_AVP-v1.13.1

  template:
    metadata:
      name: '{{cluster}}-argo'
      labels:
        app: argo
    spec:
      project: default
      source:
        repoURL: https://github.com/catenax-ng/k8s-cluster-stack
        targetRevision: '{{ targetRevision }}'
        path: apps/argocd/{{overlay}}
        plugin:
          name: argocd-vault-plugin-kustomize
      destination:
        name: '{{ cluster-name }}'
        namespace: argocd
        server: ''
      # Sync policy
      syncPolicy:
        retry:
          limit: 5 # number of failed sync attempt retries; unlimited number of attempts if less than 0
          backoff:
            duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
            factor: 2 # a factor to multiply the base duration after each failed retry
            maxDuration: 3m # the maximum amount of time allowed for the backoff strategy
