apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: loki-applicationset
spec:
  generators:
  - list:
      elements:
      - cluster: devsecops-testing
        cluster-name: devsecops-testing
        targetRevision: feat/A1ODT-657-add-loki-logging
      - cluster: dev
        cluster-name: dev
        targetRevision: HEAD
      - cluster: hotel-budapest
        cluster-name: hotel-budapest
        targetRevision: HEAD


  template:
    metadata:
      name: '{{ cluster }}-loki'
      labels:
        app: loki
    spec:
      project: default
      source:
        helm:
          values: ''
          valueFiles:
            - values.yaml
        repoURL: https://github.com/catenax-ng/k8s-cluster-stack
        targetRevision: '{{ targetRevision }}'
        path: apps/loki
      destination:
        name: '{{ cluster-name }}'
        namespace: logging
        server: ''
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
