apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

# Keep newTag (images) and the version number of ArgoCD (resources) in sync. This will keep ArgoCD Repo Server
# sidecar container images aligned to ArgoCD.
# https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/images/
images:
  - name: quay.io/argoproj/argocd
    newTag: v2.7.13

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.7.13/manifests/ha/install.yaml # ensure to keep images.newTag in sync
  - vault-plugin/vault-plugin-cm.yaml # AVP sidecar configuration
  - avp-rbac-secret-access.yaml # grant avp access to secret with AVP configuration

patches:
  - path: argocd-cm.yaml
  - path: argocd-rbac-cm.yaml
  - path: enable-webterminal.yaml
  - path: vault-plugin/argo-repo-server-sidecars.yaml # add AVP sidecars to reposerver deployment
  - path: argo-notification-cm.yaml
  - path: argocd-notifications-secrets.yaml
