apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
  - namespace.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/v2.4.21/manifests/ha/install.yaml
  - avp-rbac-secret-access.yaml # grant avp access to secret with AVP configuration

patchesStrategicMerge:
  - argocd-rbac-cm.yaml
  - plugins/argo-vault-plugin.yaml
  - avp-argocd-cm.yaml
  - enable-webterminal.yaml
