apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - environments/core.yaml
  - environments/dev.yaml
  - environments/hotel-budapest.yaml
  - environments/devsecops-testing.yaml
  - environments/pre-prod.yaml
  - environments/beta.yaml
  - ingress/ingress-argocd.yaml

patches:
  - path: configmap/argo-cm.yaml
  - path: configmap/vault-plugin-cm.yaml # use vault-secret from argocd ns
